.card-list{
	width:80%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;/*to create four colums off equal sizes*/
	grid-gap: 20px;/*with a column gap of 20px*/
}

@media only screen and (max-width: 800px) {

	.card-list{
		display: grid;
		justify-content: center;
		grid-template-columns: 1fr;
	}
  }