.card-container{
	display: flex;
	flex-direction: column;
	background-color:#074f8e;
	border: 2px solid #16111c;
	border-radius: 5px;
	padding: 25px;
	cursor:pointer;
	-moz-osx-font-smoothing:grayscale;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;  
	color: white;
	height: 25em;
	font-family: 'Poppins',Arial;
}

.card-container:hover{
	transform:scale(1.05);
}